#root {
  margin: 10px auto;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  background-color: var(--beige);
}

:root {
  --purple: #7e459b;
  --beige: #f5f5df;
  --grey: #ccc;
  --white: #fff;
  --black: black;
  --blue: #1a73e8;
  --darkGrey: #474A51;

}

body {
  background-color: var(--purple);

}

img {
  width: 150px;
  border-radius: 50%;
}

.header {
  font-size: 2rem;
  margin: 0 auto;

}
.bio{
  font-size: 1rem;
  display: flex;
  border-radius: 10px;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  padding: 2px 20px;
  margin-bottom: 20px;
}

.input-data {
   position: relative;
   
}

input{  
  margin-top: 5px;
  margin-left: -80px;
  margin-bottom: 10px; 
  width: 400px; 
  border-radius: 10px; 
  border: solid 1.5px var(--grey);
  padding: 2px 20px;
  height: 30px;
  font-size: 1rem;
  color: var(--);
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

label{  
  position: absolute;
  margin: -2.9px;
  left: 40px;
  color: var(--darkGrey);
  pointer-events: none;
  transform:  translateY(1rem);
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

input:focus{
  outline:  none;
  border:  1.5px solid var(--blue);
}

input:focus ~ label,
input:valid ~ label{
  transform: translateY(-50%)  scale(0.8);
  background-color:  var(--beige);
  color: var(--blue);
  margin-top: 5px;
}

.search{
  width: 20px;
  height: 20px;
  margin-top: -5px;
}

.repo {
  display: flex;
  border-radius: 10px;
  align-items: center;
  justify-content: space-between;
  margin-left: 30px;
  margin-bottom: 5px;
  gap: 50px;
  padding: 2px 20px;
  height: 30px;
  width: 400px;
}

.repos-container {
  height: 250px;
  overflow-y: scroll;
}

.repo:nth-child(even) {
  background: var(--white);
}
.repo:nth-child(odd) {
  background: var(--grey);
}

.repos-container p {
  font-size: 1.1rem;
}

.repos-container a {
  font-size: 0.9rem;
}

.link {
  width: 25px;
  height: 25px;
}

.footer{
  color: var(--black);
}
